# Python
__pycache__/
*.pyc
*.pyo
*.pyd
credentials.json
token.json
.envcredentials.json
token.json
.env

# virtual environment
venv/
.env/

# environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/